name: Java CI with Gradle

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.0.0
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/master' }}

      - name: Compile and test
        run: ./gradlew --no-daemon --parallel test
        timeout-minutes: 15

      - name: Build Artifacts
        if: success()
        run: ./gradlew --no-daemon build -x test -x check

      - name: Upload and build artifacts
        if: success() && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          name: java-artifacts
          path: |
            build/libs/*.jar
            build/distributions/
            
  dependency-submission:
    runs-on: ubuntu-latest
    needs: build  # Зависит от успешной сборки
    if: github.ref == 'refs/heads/master'  # Только для master
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4.0.0

